
  <footer style="position: absolute; bottom: 0; width: 100%; height: 60px; background-color: #f8f9fa; display: flex; justify-content: center; align-items: center;">
    <p style="margin: 0;">blog  Company, Inc.</p>
</footer>

</body>
</html>